chapter11/NwindConsumer/Web References/localhost/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/WebService1/Service1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/WebService1/Service1" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WebService1/Service1">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetAllEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeeDetailsResult" type="s0:structEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="structEmployee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HireDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Photo" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportsTo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportsToFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportsToLastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhotoPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Territories" type="s0:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="GetAllEmployeesSoapIn">
    <part name="parameters" element="s0:GetAllEmployees" />
  </message>
  <message name="GetAllEmployeesSoapOut">
    <part name="parameters" element="s0:GetAllEmployeesResponse" />
  </message>
  <message name="GetEmployeeDetailsSoapIn">
    <part name="parameters" element="s0:GetEmployeeDetails" />
  </message>
  <message name="GetEmployeeDetailsSoapOut">
    <part name="parameters" element="s0:GetEmployeeDetailsResponse" />
  </message>
  <portType name="Service1Soap">
    <operation name="GetAllEmployees">
      <input message="s0:GetAllEmployeesSoapIn" />
      <output message="s0:GetAllEmployeesSoapOut" />
    </operation>
    <operation name="GetEmployeeDetails">
      <input message="s0:GetEmployeeDetailsSoapIn" />
      <output message="s0:GetEmployeeDetailsSoapOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/WebService1/Service1/GetAllEmployees" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetEmployeeDetails">
      <soap:operation soapAction="http://tempuri.org/WebService1/Service1/GetEmployeeDetails" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://localhost/northwind/Service1.asmx" />
    </port>
  </service>
</definitions>